.homeImg{
    width: 100%;
    position: absolute;
    z-index: -1;
    height: fit-content;
    background: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.movielist{
    list-style: none;
    display: flex;
    gap: 2rem;
    width: 95%;
    overflow-x: scroll;

}
.movielist li {
   cursor: pointer;


}